.modal-content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content__bg {
    position: absolute;
    background: seashell;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.report-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    z-index: 999;
}

.report-form__input {
    margin-bottom: 5px;
}

.report-form__review, .report-form__review_invalid {
    margin-bottom: 5px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.report-form__review_invalid {
    border: solid red 2px;
}

.report-form__submit-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
}